* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 516px; /* 16 * 32px = 512px */
    height: 520px;
    border: 2px solid #333;
  }
  
  .square {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
  }

  div:hover {
    color: rgb(255,255,255);
  }

  #resetButton {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  